@each $weight in 400, 700, 900 {
	@font-face {
		font-weight: $weight;
		font-family: 'Lato';
		font-style: normal;
		src: url('/fonts/Lato-#{$weight}.woff2') format('woff2');
		font-display: swap;
	}
}
